## Capstone Part 4 - LGBM Model

The objective of this notebook is to use Light GBM (LGBM) Ranker model to beat the base model that was created in part 2. This notebook was configured to run on Google Colab, as the amount of RAM used was too large for normal Jupyter notebook. As such, the relative references are kept in order to let the notebook run on Colab.

In [ ]:
# Import libraries
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
# read parquet files processed in previous part
transactions = pd.read_parquet('/content/drive/MyDrive/datasets/transactions_5w_train.parquet')
customers = pd.read_parquet('/content/drive/MyDrive/datasets/customers.parquet')
articles = pd.read_parquet('/content/drive/MyDrive/datasets/articles.parquet')

I will be using the last 5 weeks data. This was the initial intuition, as I had limited RAM on my computer. However, after I have subscribed to Google Colab 
account, the maximum number of weeks of data I was able to use became around 26 weeks. Based on my iterative process, 5 weeks LGBM gave the most optimal final model. As such, I will be presenting only the 5 weeks model in this notebook.

As previously discussed, this might be due to H&M being a fast fashion retailer. As part of their strategy, they would refer to fashion show designs and produce them quickly. As such, their goods may change, and accordingly, customer's purchase trends would also change.

In [ ]:
transactions.shape

(1300034, 6)

In [ ]:
transactions.columns

Index(['t_dat', 'customer_id', 'article_id', 'price', 'sales_channel_id',
       'week'],
      dtype='object')

In [ ]:
# see customer_id to weeks when had transactions
c2weeks = transactions.groupby('customer_id')['week'].unique()

In [ ]:
# display output, noted that all outputs are within 100 to 104, 5 weeks of data
c2weeks

customer_id
28847241659200          [101, 102]
116809474287335         [101, 103]
200292573348128              [102]
272412481300040              [103]
329094189075899              [100]
                           ...
18446590778427270109         [102]
18446630855572834764         [103]
18446662237889060501         [100]
18446705133201055310         [102]
18446737527580148316         [104]
Name: week, Length: 273166, dtype: object

Noted that there are 273,166 unique customer_id that have purchases in week 100 to 104

In [ ]:
# use last week as test week
test_week = transactions.week.max()

In [ ]:
# week 104 will be used as test week for ranking
test_week

104

As the purpose of the recommender is to predict what will be bought within 7 days, essentially, it is to predict the items that each customer will buy on week 105. As such, we will be using the last week as test dataset.

In [ ]:
# Create dictionary within dictionary to hold shifted weeks, last value on dictionary to be week 104, 
# First item to be last 2 purchase weeks from c2week2
# Second item to be last week of purchase:104
# 104:104 means that last purchase was indeed on 104 week
c2weeks2shifted_weeks = {}

for c_id, weeks in c2weeks.items():
    c2weeks2shifted_weeks[c_id] = {}
    for i in range(weeks.shape[0]-1):
        c2weeks2shifted_weeks[c_id][weeks[i]] = weeks[i+1]
    c2weeks2shifted_weeks[c_id][weeks[-1]] = test_week

In [ ]:
c2weeks2shifted_weeks

{28847241659200: {101: 102, 102: 104},
 116809474287335: {101: 103, 103: 104},
 200292573348128: {102: 104},
 272412481300040: {103: 104},
 329094189075899: {100: 104},
 519262836338427: {102: 104},
 690285180337957: {103: 104},
 745180086074610: {100: 102, 102: 104},
 762483386043116: {100: 104},
 805095543045062: {102: 104},
 964326548579219: {102: 104},
 1037449031262554: {101: 102, 102: 104},
 1195818762005827: {100: 104},
 1200402310946735: {103: 104},
 1219588721247131: {102: 103, 103: 104},
 1289455304111298: {101: 104},
 1292700965481018: {103: 104},
 1296218836199721: {101: 104},
 1394073833551710: {100: 102, 102: 103, 103: 104},
 1402273113592184: {104: 104},
 1428037123270201: {100: 104},
 1456826891333599: {102: 104},
 1520973890714130: {102: 104},
 1563099511359960: {100: 102, 102: 104},
 1667805948360801: {100: 104},
 1827730561464445: {102: 104, 104: 104},
 1830503753738904: {100: 102, 102: 104},
 1905990147027598: {101: 103, 103: 104},
 1951136007097426: {104: 104},
 2059722054851309: {100: 104},
 2231838139078336: {102: 104},
 2233272389852145: {103: 104},
 2269719878901327: {100: 103, 103: 104},
 2319521627154817: {100: 104},
 2401369175358825: {101: 104},
 2438179403411693: {100: 104},
 2450580176925318: {100: 102, 102: 104},
 2639747769247776: {101: 102, 102: 103, 103: 104, 104: 104},
 2916865100647462: {101: 104},
 3043965109297255: {103: 104},
 3050367810001883: {102: 104},
 3105954019533919: {101: 104},
 3145515554973885: {100: 101, 101: 104},
 3177658828628418: {104: 104},
 3204013276717965: {104: 104},
 3242652325459841: {100: 101, 101: 102, 102: 104},
 3294889982371161: {102: 104},
 3479232611267527: {103: 104},
 3493514744159381: {102: 103, 103: 104, 104: 104},
 3647447754659344: {101: 104},
 3654605268440048: {101: 104},
 3725161734497764: {103: 104},
 3746429252252424: {104: 104},
 3763185763273638: {101: 104},
 3828854365940846: {100: 104},
 3992044661449679: {102: 104},
 4084512429949764: {102: 104},
 4125270926874550: {100: 104},
 4181258700444159: {100: 101, 101: 103, 103: 104, 104: 104},
 4195624216542755: {102: 104},
 4233235614030232: {100: 101, 101: 104},
 4304339643165867: {103: 104},
 4351920453124839: {100: 104},
 4563203946496378: {102: 104, 104: 104},
 4660285420023309: {100: 101, 101: 104},
 4778587479394219: {101: 104},
 4796430432527999: {103: 104},
 4860072350195228: {104: 104},
 4904486850789192: {104: 104},
 4920151714340210: {102: 103, 103: 104},
 4944654935373381: {101: 102, 102: 104},
 4971219767586993: {100: 104},
 5027918474929583: {103: 104},
 5198527692046577: {102: 104},
 5244835037570819: {100: 104},
 5290345363409456: {100: 104},
 5393534187094196: {103: 104},
 5395020276513349: {100: 104},
 5451332733549966: {104: 104},
 5474139543167571: {101: 104},
 5516875079897479: {103: 104},
 5600963949751081: {104: 104},
 5745483929307677: {102: 104},
 5793511269919677: {102: 104},
 5830435173051530: {101: 104},
 6074994597759351: {103: 104, 104: 104},
 6112010387616019: {104: 104},
 6171059100114610: {104: 104},
 6219998949057481: {102: 104},
 6323183284275358: {103: 104},
 6425392668902854: {101: 104},
 6425848477846523: {102: 104},
 6425998243829547: {100: 104},
 6435666514878045: {100: 104},
 6502148612391673: {101: 104},
 6514467256184302: {101: 103, 103: 104},
 6533896350022044: {101: 104},
 6611639188934298: {103: 104, 104: 104},
 6735480362133853: {102: 104},
 6791705277457680: {102: 103, 103: 104},
 6851699110500037: {103: 104},
 6874639593680634: {103: 104},
 6891744905770348: {102: 103, 103: 104, 104: 104},
 6930054433895293: {100: 104},
 6941183668934492: {100: 104, 104: 104},
 6982094921995973: {104: 104},
 7002608101212285: {103: 104},
 7008375794491843: {102: 104},
 7009916629804102: {103: 104},
 7102263087651288: {102: 104},
 7142414813837405: {100: 102, 102: 104},
 7165600694056062: {104: 104},
 7165979654983104: {100: 103, 103: 104},
 7192893037848710: {102: 104},
 7217612933871936: {102: 104, 104: 104},
 7233205324018049: {101: 103, 103: 104},
 7388597939148745: {103: 104},
 7388737097465681: {102: 104},
 7421255996385036: {102: 104},
 7678388473497046: {102: 104},
 7692254851442623: {102: 104},
 7694319197314000: {104: 104},
 7894785243725736: {103: 104},
 8027258172408895: {101: 104},
 8047895007815398: {100: 101, 101: 104},
 8232164752495318: {100: 104},
 8245923130635254: {103: 104, 104: 104},
 8383252499052781: {100: 101, 101: 103, 103: 104},
 8434216959060824: {102: 104},
 8519625734931010: {100: 104},
 8526151633341961: {103: 104},
 8566549790898038: {100: 103, 103: 104},
 8853302310499171: {103: 104},
 8905125085410841: {103: 104},
 8909453831608525: {101: 104},
 8968446267793743: {101: 104},
 8979857957419452: {100: 104},
 9033460998303010: {100: 104},
 9057218560097811: {100: 104},
 9133885560441747: {100: 102, 102: 103, 103: 104},
 9154051672884034: {100: 101, 101: 104, 104: 104},
 9160816143433467: {100: 104},
 9201188587947384: {100: 104},
 9354955572150294: {102: 104},
 9423813441034434: {100: 101, 101: 102, 102: 103, 103: 104, 104: 104},
 9521347140039091: {103: 104},
 9522604046696081: {100: 104},
 9538456321296733: {102: 104},
 9606234548431134: {103: 104},
 9625498212406448: {103: 104},
 9645559069853860: {103: 104},
 9646753977881910: {101: 104},
 9802572176960585: {102: 103, 103: 104, 104: 104},
 9853153815325591: {100: 104},
 10003213633640328: {101: 104},
 10022672756380855: {104: 104},
 10057739152254921: {101: 104},
 10117286070721283: {102: 104},
 10178278581755647: {101: 102, 102: 104},
 10221866105720877: {102: 104},
 10296145678877316: {100: 103, 103: 104},
 10297604818341029: {101: 102, 102: 104},
 10321935701705603: {102: 104},
 10444188316297638: {101: 104},
 10552169646409495: {102: 104},
 10633990943045358: {102: 104},
 10638887050133295: {102: 104},
 10682489173693097: {102: 104},
 10698768556209946: {100: 101, 101: 103, 103: 104},
 10707208459335028: {100: 104, 104: 104},
 10733759044223883: {100: 102, 102: 103, 103: 104},
 10880204019356103: {101: 104},
 10977151910854650: {100: 104},
 10985083168192329: {101: 104, 104: 104},
 11349415964342467: {104: 104},
 11406692068062485: {100: 104},
 11484807043854349: {104: 104},
 11679876944856869: {100: 101, 101: 104},
 11706793704192963: {103: 104},
 11779812935994259: {101: 104},
 11802190299861252: {104: 104},
 11834542039671352: {102: 104},
 11898333903284106: {101: 104, 104: 104},
 11904619468634999: {101: 103, 103: 104},
 11919909372114690: {104: 104},
 11942017059998426: {100: 104},
 12134615333001306: {103: 104},
 12281621100368004: {100: 101, 101: 102, 102: 103, 103: 104},
 12388745657622346: {103: 104},
 12391957723947919: {101: 103, 103: 104, 104: 104},
 12434792852115145: {102: 103, 103: 104},
 12448666071544699: {101: 104},
 12474935200566489: {103: 104, 104: 104},
 12485207671530100: {100: 104},
 12507009091873970: {101: 104},
 12554419226309955: {101: 104},
 12612420408824071: {100: 104},
 12659269130323520: {100: 102, 102: 103, 103: 104},
 12769537075198382: {103: 104},
 12795409106842963: {101: 104, 104: 104},
 12844134735197993: {101: 104},
 12938739384090444: {101: 104},
 12980011974630579: {101: 102, 102: 103, 103: 104},
 12992023230628580: {100: 101, 101: 102, 102: 103, 103: 104},
 12998684015235552: {102: 104},
 13145940273779925: {104: 104},
 13172908274596043: {104: 104},
 13305786509490851: {104: 104},
 13390155092415715: {100: 104},
 13394852673914706: {101: 102, 102: 104, 104: 104},
 13402947130473695: {102: 104},
 13504895065993510: {104: 104},
 13513635674306467: {102: 103, 103: 104},
 13652057219628339: {103: 104},
 13677633067056072: {102: 104},
 13718556659542304: {103: 104},
 13744105027329188: {102: 104},
 13798619015754746: {103: 104},
 13816484732521112: {104: 104},
 14220564134211754: {103: 104},
 14320276753196447: {102: 104},
 14401014487501724: {102: 103, 103: 104},
 14431964477991447: {103: 104},
 14489087008348748: {103: 104},
 14499740548218055: {102: 104},
 14530095987536234: {104: 104},
 14548515405367279: {104: 104},
 14673661520386742: {100: 103, 103: 104},
 14691435744718704: {104: 104},
 14949049163132763: {103: 104},
 15049568275474360: {100: 104},
 15128711491454908: {100: 102, 102: 104},
 15276772882192266: {103: 104},
 15338421839437002: {102: 104},
 15465382925056286: {100: 104},
 15481333642931468: {100: 103, 103: 104},
 15508882296103692: {102: 103, 103: 104},
 15546227719470196: {100: 101, 101: 104},
 15739392812219206: {100: 104},
 15820554573873772: {101: 104, 104: 104},
 15884053534511833: {100: 101, 101: 103, 103: 104},
 15909174747442502: {100: 104},
 15952594811452436: {102: 104},
 16034184207681049: {101: 104},
 16093911388951745: {101: 104},
 16337235569277062: {102: 104},
 16379701409566518: {102: 103, 103: 104, 104: 104},
 16777481876147952: {103: 104},
 16811277355455388: {103: 104},
 16865274162250366: {100: 101, 101: 102, 102: 103, 103: 104, 104: 104},
 16890836001263351: {100: 104},
 16894806993647814: {102: 104},
 16895900300043605: {101: 102, 102: 104, 104: 104},
 17002094758850192: {101: 104},
 17093069883664324: {100: 101, 101: 104},
 17151054572424104: {104: 104},
 17262967510090527: {103: 104},
 17268465156944800: {100: 104},
 17506329690470402: {101: 104},
 17518206936900271: {104: 104},
 17546997716849681: {100: 104},
 17585919395903737: {103: 104, 104: 104},
 17646780986975311: {103: 104},
 17728022366406085: {101: 104},
 17824016819858238: {103: 104, 104: 104},
 17832041683804188: {101: 104},
 17841044175559752: {100: 104},
 17889888969568401: {100: 101, 101: 104},
 17948564163813484: {101: 102, 102: 103, 103: 104},
 18007210471082836: {104: 104},
 18133556995242623: {101: 104},
 18377972455613450: {100: 104},
 18452712673647310: {103: 104},
 18475894803207231: {103: 104},
 18494119694862579: {101: 102, 102: 104},
 18687869504347721: {103: 104},
 18714882552132917: {102: 104},
 18753176760387945: {104: 104},
 18874385201476472: {103: 104},
 19011360759083695: {103: 104},
 19017898291457109: {104: 104},
 19065664824420208: {103: 104},
 19076524716716646: {101: 104},
 19083840669057539: {101: 104},
 19208424788084990: {101: 104},
 19288997044816682: {103: 104},
 19322124157691378: {104: 104},
 19351975306170733: {102: 103, 103: 104},
 19364829343267633: {103: 104},
 19365939967132354: {100: 104},
 19424580336179646: {103: 104},
 19459216330274597: {100: 104, 104: 104},
 19518735144905620: {102: 104},
 19633875172653525: {104: 104},
 19686887402724863: {101: 104},
 19759985285070551: {104: 104},
 19820995774994692: {102: 104},
 19847958910219902: {100: 101, 101: 104},
 19874323888872023: {104: 104},
 19890139178256158: {102: 104},
 20017655845010353: {102: 104},
 20209643627658316: {100: 104},
 20272533257771816: {104: 104},
 20345575389718912: {103: 104},
 20431212571856928: {102: 104},
 20468336498576732: {104: 104},
 20850917274953675: {101: 102, 102: 104},
 20876714058509745: {100: 104},
 21076017700097616: {102: 104},
 21097508096578594: {100: 104},
 21180633771390851: {100: 104},
 21187638304622172: {103: 104, 104: 104},
 21357102604707457: {103: 104},
 21372908980655412: {101: 104},
 21755566840225572: {102: 104, 104: 104},
 21847692280118550: {100: 104},
 21878224969707394: {100: 103, 103: 104},
 21947573475027912: {102: 104},
 21999739132032544: {102: 104},
 22057271958558120: {103: 104},
 22112523701963422: {102: 104},
 22135535927379659: {100: 101, 101: 102, 102: 103, 103: 104, 104: 104},
 22275750316289303: {100: 103, 103: 104},
 22446262278903147: {103: 104},
 22447903237022535: {100: 103, 103: 104},
 22549926027642338: {101: 104},
 22583375755337258: {102: 103, 103: 104, 104: 104},
 22587524821775353: {104: 104},
 22612361647978875: {100: 104},
 22746058695793990: {101: 104},
 22787002055305115: {103: 104},
 22790477510135474: {104: 104},
 22811546624783559: {101: 104},
 22858296997525116: {103: 104},
 22901740259146320: {104: 104},
 22916380916187628: {104: 104},
 22921302779297774: {103: 104},
 23148415381887496: {102: 104},
 23187505455274525: {101: 104},
 23367595930880532: {101: 104},
 23422682781653140: {102: 104},
 23480395088720009: {103: 104},
 23604299721198850: {103: 104},
 23647343421560072: {101: 104},
 23665252411144443: {101: 103, 103: 104},
 23759282146272196: {102: 103, 103: 104},
 23769123889960069: {102: 104},
 23806019657317781: {101: 104},
 23970909320912418: {100: 104},
 23980577026587542: {104: 104},
 24172167746221964: {103: 104},
 24177431804042323: {100: 104},
 24254344436380862: {104: 104},
 24397061513152189: {101: 102, 102: 103, 103: 104},
 24475812073499537: {102: 104},
 24483807119418420: {103: 104},
 24606993620813787: {101: 104},
 24644434476964845: {100: 104},
 24690832892522450: {102: 104},
 24697671675596018: {103: 104},
 24802201943507966: {101: 104},
 24807276390747309: {100: 104},
 24910488242502835: {100: 104},
 24952945214999787: {103: 104, 104: 104},
 25088406765518393: {102: 104},
 25135118671870114: {104: 104},
 25205728466478669: {104: 104},
 25256046780513390: {102: 104},
 25373096306062321: {103: 104},
 25384721822912058: {104: 104},
 25427390350470221: {100: 102, 102: 104},
 25436545970319700: {101: 104},
 25494299482238070: {102: 104},
 25535877905594917: {102: 104},
 25661384602859433: {101: 104},
 25795878486999798: {102: 104},
 25953536217640269: {100: 104, 104: 104},
 25984658274604854: {100: 101, 101: 104},
 26018557594316073: {101: 104},
 26048444662101745: {102: 104},
 26068599843105222: {102: 103, 103: 104},
 26118152765115527: {100: 103, 103: 104},
 26152837567301572: {101: 104},
 26207972538892365: {101: 103, 103: 104},
 26282284191972141: {100: 104},
 26373619075881766: {103: 104},
 26429832092202972: {100: 104},
 26450698467991276: {101: 104},
 26711183176887714: {101: 104},
 26749757364052324: {101: 104},
 26753372650531199: {100: 104},
 26757713650746316: {104: 104},
 26792400562666667: {101: 102, 102: 104},
 26826155181417147: {103: 104, 104: 104},
 26829815509408598: {100: 104},
 26834798132718949: {100: 103, 103: 104},
 26981019648827522: {103: 104},
 27147230895474171: {102: 104},
 27159898019529795: {103: 104},
 27223190892764614: {104: 104},
 27461489601285082: {101: 104},
 27523763215971119: {103: 104, 104: 104},
 27528147768497085: {104: 104},
 27534532127714173: {101: 104},
 27601924391795210: {101: 104},
 27635085653870169: {102: 104},
 27794388648961517: {104: 104},
 27832194459440837: {101: 104},
 27896632995692688: {104: 104},
 27927790004845047: {102: 103, 103: 104},
 27948519394400754: {100: 101, 101: 104},
 28008209795353776: {100: 104},
 28066718239557480: {101: 104},
 28175502388751111: {101: 104},
 28200737784505814: {101: 104},
 28272867151759947: {102: 103, 103: 104},
 28317664698115646: {103: 104},
 28335150019931729: {102: 104},
 28380569737758312: {104: 104},
 28425369033077070: {101: 104},
 28432244594589772: {102: 104},
 28527179112098701: {103: 104},
 28593192531974348: {100: 104},
 28736321529819057: {104: 104},
 28924606045010200: {101: 104},
 29047619512634803: {103: 104},
 29049485808755647: {100: 101, 101: 104},
 29257329623771343: {103: 104},
 29269445824039864: {101: 104},
 29321861136744048: {104: 104},
 29407293970638144: {102: 103, 103: 104},
 29460339367733242: {102: 104},
 29494017346957055: {101: 104},
 29508181461664742: {102: 104},
 29548613956814677: {101: 104, 104: 104},
 29658305094288618: {101: 102, 102: 104},
 29659536698466345: {101: 104},
 29662436981327999: {102: 104},
 29785537061595281: {102: 104},
 29827359570429540: {103: 104},
 29848332654878111: {101: 104, 104: 104},
 29907181191983485: {101: 104},
 30114169536148593: {100: 104},
 30239484727503518: {102: 104},
 30249225749021522: {102: 104},
 30282307336388048: {104: 104},
 30341717758460117: {102: 103, 103: 104},
 30396485390058445: {100: 104},
 30415167153176273: {101: 104, 104: 104},
 30417553827837458: {104: 104},
 30418339047853739: {100: 104},
 30437077249407793: {101: 104},
 30445704671640269: {103: 104},
 30453266244561247: {100: 104, 104: 104},
 30470243116168071: {100: 104},
 30523292767608489: {103: 104, 104: 104},
 30540578037650728: {104: 104},
 30776441491426653: {100: 101, 101: 104},
 30821099952783689: {101: 104},
 30867564174494878: {101: 104},
 30919842334224832: {100: 104},
 30992863702938923: {102: 103, 103: 104, 104: 104},
 31038913885956697: {103: 104},
 31042974653625221: {101: 104},
 31059335398740456: {100: 101, 101: 103, 103: 104, 104: 104},
 31112621445233022: {104: 104},
 31128435080431025: {104: 104},
 31153144539895794: {104: 104},
 31263419041437276: {100: 102, 102: 103, 103: 104, 104: 104},
 31264666358961734: {104: 104},
 31334416705523512: {100: 104, 104: 104},
 31400369038609785: {102: 104},
 31409911836408027: {101: 102, 102: 104},
 31511262164027793: {100: 104},
 31539310096017764: {104: 104},
 31585195778922258: {103: 104},
 31691153192999945: {104: 104},
 31757487020640791: {102: 104},
 31821288288303508: {103: 104},
 31851010338058671: {103: 104},
 31853668967816740: {102: 104},
 31860555767793903: {100: 104},
 31902316622849941: {103: 104, 104: 104},
 31970212271838284: {101: 102, 102: 104},
 32004869510053717: {100: 104},
 32112374692506370: {104: 104},
 32198542548777679: {101: 104},
 32201402651358522: {103: 104},
 32220693758391040: {101: 104},
 32248129544479856: {101: 104},
 32319425185563588: {101: 104},
 32322572705088000: {103: 104},
 32348065904856589: {100: 104},
 32355018145793474: {104: 104},
 32472761202507008: {100: 104},
 32501413214633794: {101: 102, 102: 104, 104: 104},
 32504259234794996: {102: 103, 103: 104, 104: 104},
 32530615510705925: {100: 101, 101: 103, 103: 104},
 32543582271411636: {103: 104, 104: 104},
 32590687993082698: {100: 103, 103: 104},
 32661281843249433: {104: 104},
 32752997762537846: {101: 104},
 32842387829642535: {102: 104, 104: 104},
 32859400699764118: {101: 104},
 32949086336952425: {100: 101, 101: 104, 104: 104},
 32975285387409795: {104: 104},
 33015626307837009: {100: 102, 102: 104},
 33117937340673087: {100: 102, 102: 104},
 33226934618400736: {102: 104},
 33494237920092395: {102: 104, 104: 104},
 33503559185795473: {103: 104},
 33562451863007725: {101: 104},
 33623909819185367: {101: 104},
 33665198597617663: {103: 104},
 33675756845670774: {101: 104, 104: 104},
 33714159573598336: {103: 104},
 33739341461110808: {100: 104},
 33794245489765109: {102: 104},
 33871186042788771: {104: 104},
 33928789953100696: {102: 104},
 33973193923283238: {104: 104},
 34037360999144074: {101: 104},
 34164583991033357: {101: 104},
 34224054991411883: {104: 104},
 34290335805143874: {104: 104},
 34371892431494456: {100: 104, 104: 104},
 34474206775608844: {101: 104},
 34506529911921355: {100: 104},
 34673454299444172: {103: 104, 104: 104},
 34736734910267384: {101: 104},
 34756821957736385: {100: 103, 103: 104, 104: 104},
 34912847895406276: {101: 104},
 34921540425984040: {100: 104},
 34929870235823187: {102: 104},
 34948107619789367: {100: 104},
 35021609361427535: {101: 104},
 35132395069578145: {100: 104},
 35162125441017774: {101: 104},
 35205974585551224: {101: 104},
 35206153324454790: {100: 104},
 35261060878184691: {103: 104},
 35285230385609815: {102: 104},
 35333462695351790: {101: 104},
 35560125243543949: {100: 104},
 35610949793442717: {102: 104},
 35672934783849837: {104: 104},
 35735245817954868: {103: 104},
 35827349304186886: {100: 104},
 35827705479118156: {101: 104, 104: 104},
 35845905900657430: {102: 104},
 35937585014805681: {101: 104},
 36256083603118431: {101: 102, 102: 104},
 36257058119026816: {100: 104, 104: 104},
 36261634728025948: {103: 104},
 36293938481508122: {100: 104},
 36294812571924126: {101: 102, 102: 103, 103: 104},
 36331988973852190: {101: 104},
 36416245862479391: {100: 102, 102: 104},
 36527361784796051: {100: 104},
 36531269485131677: {101: 104},
 36588529973973445: {100: 104},
 36662739075315079: {101: 104},
 36870317010813757: {103: 104},
 36940439614951079: {102: 104},
 37205626439047066: {100: 104},
 37299978638302153: {104: 104},
 37395043376523134: {101: 104, 104: 104},
 37407537894153080: {102: 104},
 37413866556978118: {104: 104},
 37415140406349847: {100: 103, 103: 104, 104: 104},

In [ ]:
# create shallow copy of existing transactions list
candidates_last_purchase = transactions.copy()

In [ ]:
# Impute weeks into candidates last purchase listing using c2weeks2shifted_weeks dictionary
weeks = []    # Append shifted weeks into last purchase 
for i, (c_id, week) in enumerate(zip(transactions['customer_id'], transactions['week'])):
    weeks.append(c2weeks2shifted_weeks[c_id][week])
    
candidates_last_purchase.week=weeks

In [ ]:
# check that all weeks are extracted for transactions 1300034 is shape for transactions
len(weeks)

1300034

In [ ]:
candidates_last_purchase.groupby('customer_id')['week'].unique()

customer_id
28847241659200          [102, 104]
116809474287335         [103, 104]
200292573348128              [104]
272412481300040              [104]
329094189075899              [104]
                           ...
18446590778427270109         [104]
18446630855572834764         [104]
18446662237889060501         [104]
18446705133201055310         [104]
18446737527580148316         [104]
Name: week, Length: 273166, dtype: object

Similar to `c2week`, noted that there are 273,166 unique customer_id. However, the last purchase is now between 102 to 104

##  Best seller candidate

In [ ]:
# Calculate mean price per week and article_id
mean_price = transactions \
    .groupby(['week', 'article_id'])['price'].mean()

In [ ]:
# create bestseller_rank column by week from 101 to 104 by article_id, making only 1 to 12 positions
sales = transactions \
    .groupby('week')['article_id'].value_counts() \
    .groupby('week').rank(method='dense', ascending=False) \
    .groupby('week').head(12).rename('bestseller_rank').astype('int8')

In [ ]:
sales

week  article_id
100   916468003      1
      896152003      2
      896152002      3
      751471001      4
      706016001      5
      918292001      6
      921906003      7
      751471043      8
      706016003      9
      918292004     10
      915526002     11
      920610001     12
101   898694001      1
      933706001      2
      751471001      3
      915526001      4
      915529003      5
      706016001      6
      918292001      7
      751471043      8
      915526002      9
      915529001     10
      862970001     11
      863595006     12
102   915526001      1
      751471043      2
      751471001      3
      706016001      4
      919365008      5
      915529003      6
      918292001      7
      863595006      8
      896152002      9
      448509014     10
      909916001     11
      762846031     12
103   909370001      1
      865799006      2
      918522001      3
      924243001      4
      448509014      5
      751471001      6
      809238001      7
      918292001      8
      762846027      9
      809238005     10
      673677002     11
      923758001     12
104   924243001      1
      924243002      2
      918522001      3
      923758001      4
      866731001      5
      909370001      6
      751471001      7
      915529003      8
      915529005      9
      448509014     10
      762846027     11
      714790020     12
Name: bestseller_rank, dtype: int8

In [ ]:
# create bestsellers_rank last week 
bestsellers_previous_week = pd.merge(sales, mean_price, on=['week', 'article_id']).reset_index()
bestsellers_previous_week.week += 1

In [ ]:
bestsellers_previous_week

    week  article_id  bestseller_rank     price
0    101   916468003                1  0.032983
1    101   896152003                2  0.033229
2    101   896152002                3  0.033338
3    101   751471001                4  0.033391
4    101   706016001                5  0.033502
5    101   918292001                6  0.041646
6    101   921906003                7  0.033327
7    101   751471043                8  0.033299
8    101   706016003                9  0.033337
9    101   918292004               10  0.041617
10   101   915526002               11  0.033188
11   101   920610001               12  0.049797
12   102   898694001                1  0.049675
13   102   933706001                2  0.016584
14   102   751471001                3  0.033308
15   102   915526001                4  0.033049
16   102   915529003                5  0.033279
17   102   706016001                6  0.033166
18   102   918292001                7  0.041425
19   102   751471043                8  0.033143
20   102   915526002                9  0.032902
21   102   915529001               10  0.033167
22   102   862970001               11  0.021616
23   102   863595006               12  0.033221
24   103   915526001                1  0.033127
25   103   751471043                2  0.033082
26   103   751471001                3  0.033257
27   103   706016001                4  0.033229
28   103   919365008                5  0.041837
29   103   915529003                6  0.033319
30   103   918292001                7  0.041372
31   103   863595006                8  0.033025
32   103   896152002                9  0.033064
33   103   448509014               10  0.041407
34   103   909916001               11  0.033403
35   103   762846031               12  0.024715
36   104   909370001                1  0.032947
37   104   865799006                2  0.033340
38   104   918522001                3  0.041416
39   104   924243001                4  0.041549
40   104   448509014                5  0.041604
41   104   751471001                6  0.033268
42   104   809238001                7  0.041612
43   104   918292001                8  0.041424
44   104   762846027                9  0.025104
45   104   809238005               10  0.041656
46   104   673677002               11  0.024925
47   104   923758001               12  0.033478
48   105   924243001                1  0.041535
49   105   924243002                2  0.041877
50   105   918522001                3  0.041435
51   105   923758001                4  0.033462
52   105   866731001                5  0.025015
53   105   909370001                6  0.032640
54   105   751471001                7  0.033423
55   105   915529003                8  0.033439
56   105   915529005                9  0.033417
57   105   448509014               10  0.041630
58   105   762846027               11  0.025005
59   105   714790020               12  0.049951

In [ ]:
# create dataframe containing unique transaction for each week and customer_id
unique_transactions = transactions \
    .groupby(['week', 'customer_id']) \
    .head(1) \
    .drop(columns=['article_id', 'price']) \
    .copy()

In [ ]:
unique_transactions.head()

              t_dat        customer_id  sales_channel_id  week
30500174 2020-08-19   6435666514878045                 2   100
30495830 2020-08-19   6930054433895293                 1   100
30520935 2020-08-19   8383252499052781                 1   100
30492047 2020-08-19   9057218560097811                 1   100
30491229 2020-08-19  11942017059998426                 1   100

In [ ]:
# join unique_transactions with bestsellers_previous_week 
candidates_bestsellers = pd.merge(
    unique_transactions,
    bestsellers_previous_week,
    on='week',
)

In [ ]:
candidates_bestsellers.head()

,t_dat,customer_id,sales_channel_id,week,article_id,bestseller_rank,price
0,2020-08-26,116809474287335,1,101,916468003,1,0.032983
1,2020-08-26,116809474287335,1,101,896152003,2,0.033229
2,2020-08-26,116809474287335,1,101,896152002,3,0.033338
3,2020-08-26,116809474287335,1,101,751471001,4,0.033391
4,2020-08-26,116809474287335,1,101,706016001,5,0.033502

In [ ]:
# extract all unique transactions per customer_id, and set week 104  as test_set_transaction week
test_set_transactions = unique_transactions.drop_duplicates('customer_id').reset_index(drop=True)
test_set_transactions.week = test_week

In [ ]:
# create dataframe for bestseller ranking and test set transactions
candidates_bestsellers_test_week = pd.merge(
    test_set_transactions,
    bestsellers_previous_week,
    on='week')

In [ ]:
candidates_bestsellers = pd.concat([candidates_bestsellers, candidates_bestsellers_test_week])
candidates_bestsellers.drop(columns='bestseller_rank', inplace=True)

In [ ]:
candidates_bestsellers

,t_dat,customer_id,sales_channel_id,week,article_id,price
0,2020-08-26,116809474287335,1,101,916468003,0.032983
1,2020-08-26,116809474287335,1,101,896152003,0.033229
2,2020-08-26,116809474287335,1,101,896152002,0.033338
3,2020-08-26,116809474287335,1,101,751471001,0.033391
4,2020-08-26,116809474287335,1,101,706016001,0.033502
...,...,...,...,...,...,...
3277987,2020-09-22,18438270306572912089,1,104,918292001,0.041424
3277988,2020-09-22,18438270306572912089,1,104,762846027,0.025104
3277989,2020-09-22,18438270306572912089,1,104,809238005,0.041656
3277990,2020-09-22,18438270306572912089,1,104,673677002,0.024925
3277991,2020-09-22,18438270306572912089,1,104,923758001,0.033478

## Combining transactions and candidates / negative examples

In [ ]:
transactions['purchased'] = 1

In [ ]:
transactions.shape

(1300034, 7)

In [ ]:
candidates_last_purchase.shape

(1300034, 6)

In [ ]:
candidates_bestsellers.shape

(6842928, 6)

In [ ]:
# concatenate positive transactions and candidates which are last purchase and bestseller
data = pd.concat([transactions, candidates_last_purchase, candidates_bestsellers])
data.purchased.fillna(0, inplace=True)

data.purchased.mean()

0.1376717728144754

In [ ]:
data.shape

(9442996, 7)

In [ ]:
# drop candidates, last purchase and bestseller transaction information if already purchased within the week
data.drop_duplicates(['customer_id', 'article_id', 'week'], inplace=True)

In [ ]:
data.head()

,t_dat,customer_id,article_id,price,sales_channel_id,week,purchased
30500174,2020-08-19,6435666514878045,816423005,0.011847,2,100,1.0
30500175,2020-08-19,6435666514878045,599718043,0.016932,2,100,1.0
30500176,2020-08-19,6435666514878045,806528004,0.025407,2,100,1.0
30500177,2020-08-19,6435666514878045,903211001,0.042356,2,100,1.0
30500178,2020-08-19,6435666514878045,779781006,0.042356,2,100,1.0

At this stage, we have accomplished to have a dataframe containing purchased items, as well as the recommended bestsellers that week and the purchased items the week before.

## Add bestseller information

In [ ]:
# merge data with bestseller rank from previous week, can't use current week as leakage of data
data = pd.merge(
    data,
    bestsellers_previous_week[['week', 'article_id', 'bestseller_rank']],
    on=['week', 'article_id'],
    how='left'
)

In [ ]:
data.head()

,t_dat,customer_id,article_id,price,sales_channel_id,week,purchased,bestseller_rank
0,2020-08-19,6435666514878045,816423005,0.011847,2,100,1.0,NaN
1,2020-08-19,6435666514878045,599718043,0.016932,2,100,1.0,NaN
2,2020-08-19,6435666514878045,806528004,0.025407,2,100,1.0,NaN
3,2020-08-19,6435666514878045,903211001,0.042356,2,100,1.0,NaN
4,2020-08-19,6435666514878045,779781006,0.042356,2,100,1.0,NaN

In [ ]:
# fill null values with 999 in rank
#data = data[data.week != data.week.min()]
data.bestseller_rank.fillna(999, inplace=True)

In [ ]:
data.head()

,t_dat,customer_id,article_id,price,sales_channel_id,week,purchased,bestseller_rank
0,2020-08-19,6435666514878045,816423005,0.011847,2,100,1.0,999.0
1,2020-08-19,6435666514878045,599718043,0.016932,2,100,1.0,999.0
2,2020-08-19,6435666514878045,806528004,0.025407,2,100,1.0,999.0
3,2020-08-19,6435666514878045,903211001,0.042356,2,100,1.0,999.0
4,2020-08-19,6435666514878045,779781006,0.042356,2,100,1.0,999.0

In [ ]:
data = pd.merge(data, articles, on='article_id', how='left')
data = pd.merge(data, customers, on='customer_id', how='left')

In [ ]:
data.sort_values(['week', 'customer_id'], inplace=True)
data.reset_index(drop=True, inplace=True)

In [ ]:
# train test split manually
train = data[data.week != test_week]
test = data[data.week==test_week].drop_duplicates(['customer_id', 'article_id', 'sales_channel_id']).copy()

In [ ]:
data['purchased'].value_counts(normalize=True)

0.0    0.85575
1.0    0.14425
Name: purchased, dtype: float64

We see an imbalanced problem here, where most of the observations are 0. As such scale pos weight will be used to balance the classes.

In [ ]:
train_baskets = train.groupby(['week', 'customer_id'])['article_id'].count().values

In [ ]:
train_baskets

array([ 1, 17,  3, ..., 13, 30, 15])

In [ ]:
# Feature engineering can be looked into
columns_to_use = ['article_id', 'product_type_no', 'graphical_appearance_no', 'colour_group_code', 'perceived_colour_value_id',
'perceived_colour_master_id', 'department_no', 'index_code',
'index_group_no', 'section_no', 'garment_group_no', 'age', 'bestseller_rank']

In [ ]:
%%time

X_train = train[columns_to_use]
y_train = train['purchased']

CPU times: user 65.3 ms, sys: 579 µs, total: 65.9 ms
Wall time: 64.7 ms

In [ ]:
test_baskets = test.groupby(['week', 'customer_id'])['article_id'].count().values

In [ ]:
test_baskets

array([13, 13, 13, ..., 14, 13, 16])

In [ ]:
X_test = test[columns_to_use]
y_test = test['purchased']

## Modelling

In [ ]:
from lightgbm.sklearn import LGBMRanker

In [ ]:
ranker = LGBMRanker(
    objective="lambdarank",
    metric="ndcg",
    boosting_type="dart",
    n_estimators=5,
    scale_pos_weight=8,
    importance_type='gain',
    verbose=10,
)

In [ ]:
%%time

ranker = ranker.fit(
    X_train,
    y_train,
    group=train_baskets,
    eval_set=[(X_test, y_test)],
    eval_group=[test_baskets], 
    eval_at=[12,20,25], 
    early_stopping_rounds=50
)

[1]	valid_0's ndcg@12: 0.98269	valid_0's ndcg@20: 0.983556	valid_0's ndcg@25: 0.983665

/usr/local/lib/python3.7/dist-packages/lightgbm/callback.py:189: UserWarning: Early stopping is not available in dart mode
  warnings.warn('Early stopping is not available in dart mode')

[2]	valid_0's ndcg@12: 0.977037	valid_0's ndcg@20: 0.978033	valid_0's ndcg@25: 0.978153
[3]	valid_0's ndcg@12: 0.974776	valid_0's ndcg@20: 0.975787	valid_0's ndcg@25: 0.975921
[4]	valid_0's ndcg@12: 0.974135	valid_0's ndcg@20: 0.975177	valid_0's ndcg@25: 0.975315
[5]	valid_0's ndcg@12: 0.973656	valid_0's ndcg@20: 0.974699	valid_0's ndcg@25: 0.974836
CPU times: user 19.8 s, sys: 100 ms, total: 19.9 s
Wall time: 3.7 s

In [ ]:
for i in ranker.feature_importances_.argsort()[::-1]:
    print(columns_to_use[i], ranker.feature_importances_[i]/ranker.feature_importances_.sum())

NotFittedError: ignored

We see here that from feature importance, the most important feature was found to be 'bestseller_rank'. This was alot higher in feature importance than any other features.

In [ ]:
%time

test['preds'] = ranker.predict(X_test)

c_id2predicted_article_ids = test \
    .sort_values(['customer_id', 'preds'], ascending=False) \
    .groupby('customer_id')['article_id'].apply(list).to_dict()

bestsellers_last_week = \
    bestsellers_previous_week[bestsellers_previous_week.week == bestsellers_previous_week.week.max()]['article_id'].tolist()

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 5.72 µs

In [ ]:
test.sort_values("preds", ascending=False)

,t_dat,customer_id,article_id,price,sales_channel_id,week,purchased,bestseller_rank,Unnamed: 0,product_code,...,garment_group_name,detail_desc,kangol,FN,Active,club_member_status,fashion_news_frequency,age,postal_code,preds
4553572,2020-09-16,2980539755859949658,908799002,0.027102,2,104,1.0,999.0,103033,908799,...,19,27340,0,1,1,0,1,45,177854,0.217927
4370366,2020-09-11,2182892762944674298,909371001,0.033881,1,104,0.0,999.0,103109,909371,...,19,27262,0,0,0,0,0,26,6276,0.217927
7001954,2020-09-10,13711006276754330551,923020001,0.067780,2,104,0.0,999.0,104429,923020,...,19,26020,0,1,1,0,1,24,17051,0.217927
7001955,2020-09-10,13711006276754330551,909371001,0.033881,2,104,0.0,999.0,103109,909371,...,19,27262,0,1,1,0,1,24,17051,0.217927
7015931,2020-09-11,13773443448661361320,923028002,0.135576,2,104,0.0,999.0,104431,923028,...,19,19560,0,1,1,0,1,41,40553,0.217927
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7403977,2020-08-26,15460656271975412889,923758001,0.033478,2,104,0.0,12.0,104527,923758,...,6,25984,0,1,1,0,1,40,6075,-0.211990
4187043,2020-08-30,1367164984103984313,923758001,0.033478,2,104,0.0,12.0,104527,923758,...,6,25984,0,0,0,0,0,30,151117,-0.211990
5765547,2020-09-11,8274906784288763104,923758001,0.033478,1,104,0.0,12.0,104527,923758,...,6,25984,0,1,1,0,1,27,140613,-0.211990
7403963,2020-09-14,15460643812847391449,923758001,0.033478,1,104,0.0,12.0,104527,923758,...,6,25984,0,1,1,0,1,72,0,-0.211990
8081190,2020-09-21,18446737527580148316,923758001,0.033478,2,104,0.0,12.0,104527,923758,...,6,25984,0,1,1,0,1,60,96323,-0.211990

## Submission

In [ ]:
sub = pd.read_csv('/content/drive/MyDrive/datasets/sample_submission.csv')

In [ ]:
sub.head()

,customer_id,prediction
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0568601043 0924243001 0909370001 0865799006 09...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0924243001 0924243002 0918522001 0923758001 08...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0794321007 0924243001 0762846027 0918522001 09...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0924243001 0924243002 0918522001 0923758001 08...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,0924243001 0924243002 0918522001 0923758001 08...

In [ ]:
def customer_hex_id_to_int(series):
    return series.str[-16:].apply(hex_id_to_int)
def hex_id_to_int(str):
    return int(str[-16:], 16)

In [ ]:
%%time
preds = []
for c_id in customer_hex_id_to_int(sub.customer_id):
    pred = c_id2predicted_article_ids.get(c_id, [])
    pred = pred + bestsellers_last_week
    preds.append(pred[:12])

CPU times: user 4.27 s, sys: 180 ms, total: 4.45 s
Wall time: 4.42 s

In [ ]:
preds = [' '.join(['0' + str(p) for p in ps]) for ps in preds]
sub.prediction = preds

In [ ]:
sub.to_csv('/content/drive/MyDrive/datasets/LGBM5w_NDCG@122025ES.csv', index=False)

Kaggle score returned for MAP@12 is 0.0199. There were other better scores using different features, hyperparameter tuning and weeks for LGBM. However, this version was part of the ensemble that returned the highest MAP@12. As such, we will keep this for our presentation purpose.